.t-right-content{
    float:right;
    width:50%;
    margin-right: 0%;
}

.t-left-content{
    float:left;
    width:50%;
}

.t-label{
    display: inline-block;
}

#t-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    text-align: left;
    
  }
  
  #t-table td{
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #t-table tr:nth-child(even){background-color: #f2f2f2;}
  
  #t-table tr:hover {background-color: #ddd;}

  #t-table-left {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    text-align: center;
    margin-bottom: 20%;
  }
  
  #td-query{
      font-size: 20px;
  }

  #td-companyName{
    font-weight: bold;
    font-size: 20px;
  }

  #td-c{
    color: green;
    font-size: 20px;
  }

  #td-d{
    color: red;
    font-size: 20px;
  }
  
  
  #t-table-sc {
    position:relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    text-align: left;
    left: 25%;
  }
  
  /* #t-table-sc tr{
    padding: 8px;
    display:flex;
    flex-wrap: wrap;
  } */

  #tr-peer{
    /* padding: 8px; */
    display:flex;
    flex-wrap: wrap;
    /* width:100%; */
  }

  #tr-peer td{
      margin: 3px 3px 3px 0px;
  }

  #tr-sc{
    padding: 8px;
    font-size: 100%;
    font-weight: bold;
  }

  #t-pcohlg{
      color:green;
  }

  #t-pcohlr{
    color:red;
}
@media only screen and (max-width: 680px) {
    .t-right-content{
        float:right;
        width:50%;
        margin-right: -10px;
    }
    
    .t-left-content{
        float:left;
        width:50%;
        margin-left: -30px;
    }
}
